<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/auth/enter_name.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> <!-- Пример шрифта -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <div class="intro">
        <div class="container">
            <div class="intro__inner">
                <h1 class="intro-text">Enter your username</h1>
                
                <input type="text" class="username-input" placeholder="Group name" required>
            
                <a href="{% url 'enter_name' %}">
                    <button id="confirmButton" class="intro-button" disabled>Confirm group name</button>
                </a>
                <a href="{% url 'login' %}">
                    <button class="intro-button">Back</button>
                </a>
            </div>
        </div>
   </div>

   <footer class="footer">
        <div class="container">
            <img class="intro-image" src="{% static 'images/start_image.jpg' %}" alt="Description of the image">
        </div>
    </footer>

    <script>
        const usernameInput = document.getElementById('usernameInput');
        const confirmButton = document.getElementById('confirmButton');

        usernameInput.addEventListener('input', () => {
            if (usernameInput.value.trim() === '') {
                confirmButton.disabled = true; // Disable the button if the input is empty
                confirmButton.style.backgroundColor = '#7f7f7f'; // Gray background for disabled button
                confirmButton.style.cursor = 'not-allowed'; // Change cursor to indicate disabled state
            } else {
                confirmButton.disabled = false; // Enable the button if there is input
                confirmButton.style.backgroundColor = 'linear-gradient(135deg, #1f1f1f, #363636)'; // Original gradient
                confirmButton.style.cursor = 'pointer'; // Change cursor back to normal
            }
        });
    </script>

</body>
</html>
